<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Settings">
	    <setting id="autoplay" type="bool" label="Enable Autoplay. Plays the first player link automatically. Disable if links don't work to attempt optional players." default="true" />
	    <setting id="timeshift" type="bool" label="Enable Timeshift. Allows pause and rewind but uses a lot of storage.  Disable if you have low storage on your device" default="true" />
	    <setting id="24hour" type="bool" label="Use 24-hour time format" default="true" />
	    <setting id="version" type="text" visible="false" default="" />
		<setting id="adult_pw" type="text" option="hidden" label="Adult Channels Password" default="xxXXxx" />
		<setting id="last_refresh" type="text" visible="false" default="0.0" />
    </category>
</settings>